<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Reading Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>

    <body>
        <header> 
            <h1>Reading Tracker</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            {% if session.loggedin == True %}
                <li><a href="/pagetracker">Page Tracker</a></li>
                <li><a href="/completedbooks">My Bookshelf</a></li>
                <li><a href="/stats">Reading Stats</a></li>
                <li><a href="/logout">Log Out</a></li>
            {% else %}
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            {% endif %}
            </ul>
        </nav>

        <main>
            <section>
                {% if session.loggedin == True %}
                    <h3>Welcome {{ session.username }}! This website will help you keep track of what you read, how much you read, and all of the stats you want to know about your favorite pasttime!</h3>
                {% else %}
                    <h3>Welcome! This website will help you keep track of what you read, how much you read, and all of the stats you want to know about your favorite pasttime!</h3>
                {% endif %}
            </section>

            <section>
                {% if session.loggedin == True %}
                    <p>Not {{ session.username }}?</p><a href="{{ url_for('logout') }}" class="button">Logout here</a>
                {% else %}
                    <p>Want to create an account?</p><a href="{{ url_for('signup') }}">Sign up here</a>
                {% endif %}
            </section>

            <div class="loginbox">
            </div>
        </main>

        <footer>
            <p>&copy;Hannah Scooler, 2022</p>
        </footer>
    </body>
</html>