<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Reading Tracker</title>
        <link rel="stylesheet" href="../static/stylesheet.css">
    </head>

    <body>
        <header> 
            <h1>Reading Tracker</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/" id="selected">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/pagetracker">Page Tracker</a></li>
                <li><a href="/completedbooks">My Books</a></li>
                <li><a href="/stats">My Stats</a></li>
            </ul>
        </nav>

        <main>
            <section>
                <h3>Welcome! This website will help you keep track of what you read, how much you read, and all of the stats you want to know about your favorite pasttime!</h3>
            </section>
        </main>

        <footer>
            <p>&copy;Hannah Scooler, 2022</p>
        </footer>
    </body>
</html>